{{#with this}}
<div class='user-container'>
    <span>{{displayName}}</span>
    {{!-- <img src='{{photoURL}}' alt='{{displayName}}' class='user-photo' /> --}}
    <div class='button-flex'>
        <button class='sign-out-btn' type='button' onclick='signOutUser()'>
            <span class='sign-out-text'>
                Sign out
            </span>    
        </button>
    </div>

</div>
{{/with}}